<h1>New Cast Member</h1>

<%= form_with(model: [@movie, @cast], url: casts_path(@movie), local: true) do |form| %>
  <% if @cast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cast.errors.count, "error") %> prohibited this cast member from being saved:</h2>
      <ul>
        <% @cast.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_field :date_of_birth %>
  </div>
  <!-- Add other fields as needed -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
